# Ignore paths that contain user-generated content.
# sites/*/files
# sites/*/private

# Ignore SimpleTest multi-site environment.
# sites/simpletest
# info.php

# If you prefer to store your .gitignore file in the sites/ folder, comment
# or delete the previous settings and uncomment the following ones, instead.

# Ignore configuration files that may contain sensitive information.
# */settings*.php

# Ignore paths that contain user-generated content.
# */files
# */private

# Ignore SimpleTest multi-site environment.
# simpletest
vendor
pgadmin
mongodb
drupal8/vendor
nodejs/node_modules
apps/node_modules
apps/package-lock.json
d8
d8/node_modules
d8/vendor
# apps