* * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job

*/1 * * * * root wget http://drupal8/cron/heartbeat.json
*/15 * * * * root wget http://drupal8/api/every_15_minute.json?mode=j5p4v5s5

30 5 * * * root wget http://drupal8/cron/cron_530AM.json?mode=j5p4v5s5