<div class="top-head-content">
    <ul class="list-unstyled">
        <li><a href={{ params["language"]["en"] }} title="en">en-1</a></li>
        <li><a href={{ params["language"]["th"] }} title="th">th-1</a></li>

        <li> language select : {{ params["active"] }} </li>

        <li><a href="http://corporate.bigc.co.th/">bigc store</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="http://www.bigc.co.th">bigc shopping online</a></li>

        <li><a href="#">My Profile  </a></li>
        <li><a href="/customer/account/login">สมาชิก บิ๊กการ์ด</a></li>
    </ul>
</div>